.column.container.is-12
  %section.hero.is-light.rounded
    .hero-body
      .container.has-text-centered
        %h1.title Lesson List
.column.is-10.is-offset-2
  %section.section
    %table.table
      %thead
        %th Name
        %th Code
        %th Ects
        %th Semester
        %th Grade
      %tbody
      - @list.each do |sem|
        %thead
          %th.has-text-centered{ colspan: '5'} Semester #{sem[0]}
        - sem[1].each do |les|
          %tr
            %td= les.name
            %td= les.code
            %td= les.ects
            %td= les.semester
            %td= les.grade
        %thead
          %th
          %th
          %th= Lesson.where(semester: sem[0], grade: [5..10]).sum(:ects)
          %th
          %th= Lesson.where(semester: sem[0], grade: [5..10]).average(:grade).to_s.first(4)
      %thead
        %th Summary
        %th  -
        %th= Lesson.where(selected: true, grade: [5..10]).sum(:ects)
        %th  -
        %th= Lesson.where(selected: true, grade: [5..10]).average(:grade).to_s.first(4)
%section.section
  %div.tile.is-vertical.is-ancestor
    %div.tile.is-vertical.is-8
      %div.tile
        %div.tile.is-parent.is-vertical
          %article.tile.is-child.notification.is-primary
            %p.title Μέσος Όρος:
            %p.subtitle= avg_calc.nil? ? 'Πρόσθεσε Μαθήματα':avg_calc.to_s.first(4)
          %article.tile.is-child.notification.is-info
            %p.subtitle Σύνολο Μαθημάτων: #{Lesson.where(selected: true).count}
            %p.subtitle Περασμένα/Χρωστούμενα: (#{Lesson.where(selected: true, grade: [5..10]).count}/#{Lesson.where(selected: true, grade: [0..4]).count})
            %p.subtitle Υποχρεωτικά: #{Lesson.where(selected: true, ltype: 1).count}
            %p.subtitle Bασικής Επιλογής: #{Lesson.where(selected: true, ltype: 2).count}
            %p.subtitle Γενικής Επιλογής: #{Lesson.where(selected: true, ltype: 3).count}
            %p.subtitle Ειδικής Επιλογής: #{Lesson.where(selected: true, ltype: 4).count}
        %div.tile.is-parent
          %article.tile.is-child.notification{class: current_user.graduated? ? 'is-success' : 'is-danger'}
            %p.title Δυνατότα Αποφοίτησης?
            %p.subtitle Πτυχιακή #{current_user.eligible?}
