.column.container.is-12
  %section.hero.is-light.rounded
    .hero-body
      .container.has-text-centered
        %h1.title Classes List
.column.is-10.is-offset-2
  %section.section
    %table.table
      %thead
        %th Name
        %th Code
        %th Ects
        %th Semester
        %th Grade
      %tbody
      - @list.each do |sem|
        %thead
          %th.has-text-centered{ colspan: '5'} Semester #{sem[0]}
        - sem[1].each do |les|
          %tr
            %td= les.name
            %td= les.code
            %td= les.ects
            %td= les.semester
            %td= les.grade
        %thead
          %th
          %th
          %th= current_user.lessons.where(semester: sem[0], grade: [5..10]).sum(:ects)
          %th
          %th= current_user.lessons.where(semester: sem[0], grade: [5..10]).average(:grade).to_s.first(4)
      %thead
        %th Summary
        %th  -
        %th= current_user.lessons.where(selected: true, grade: [5..10]).sum(:ects)
        %th  -
        %th= avg_calc.to_s.first(4)
