- @usr = current_user
.container
  %section.section
    %div.tile.is-vertical.is-ancestor
      %div.tile.is-vertical.is-12
        %div.tile
          %div.tile.is-parent.is-vertical
            %article.tile.is-child.notification.is-primary
              %p.title
                Μέσος Όρος:
                %strong.bright{class: avg_color} #{avg_calc.nil? ? 'Πρόσθεσε Μαθήματα':avg_calc.to_s.first(4)}
            %article.tile.is-child.notification.is-info
              %p.subtitle Σύνολο Μαθημάτων: #{@usr.lessons_total}
              %p.subtitle Περασμένα/Χρωστούμενα: (#{@usr.passed}/#{@usr.lessons_total - @usr.passed})
              %p.subtitle Υποχρεωτικά: 31
              %p.subtitle Bασικής Επιλογής: #{@usr.basics}
              %p.subtitle Γενικής Επιλογής: #{@usr.generals}
              %p.subtitle Ειδικής Επιλογής: #{@usr.specials}
          %div.tile.is-parent
            %article.tile.is-child.notification{class: @usr.graduated? ? 'is-success' : 'is-danger'}
              %p.title Δυνατότα Αποφοίτησης?
              %p.subtitle Πτυχιακή #{@usr.eligible?}
              %p.subtitle
                %table.table.is-fullwidth.has-text-centered#status-table
                  %thead
                    %td
                    %td Δηλωμένα
                    %td Περασμένα
                  %tbody
                    %tr
                      %td Υποχρεωτικά
                      %td.has-text-centered
                        %a.tooltip.is-tooltip-success{data: { tooltip: "Εχουν δηλωθεί όλα τα υποχρεωτικά" } }
                          %i.fa{class: "fa-#{icon_generator(true)}"}
                      %td.has-text-centered
                        %a.tooltip{class: (@usr.standards? ? 'is-tooltip-success' : 'is-tooltip-danger'), data: { tooltip: (@usr.standards? ? 'Έχεις περάσει όλα τα υποχρεωτικά' : "Πρέπει να περάσεις ακόμη #{31 - @usr.standards}") } }
                          %i.fa{class: "fa-#{icon_generator(@usr.standards?)}"}
                    %tr
                      %td Βασικής
                      %td.has-text-centered
                        %a.tooltip{class: (@usr.basics? ? 'is-tooltip-success' : 'is-tooltip-danger'), data: { tooltip: (@usr.basics? ? 'Έχεις δηλώσει όλα τα ΒΕ' : "Πρέπει να δηλώσεις ακόμη #{4 - @usr.basics}") } }
                          %i.fa{class: "fa-#{icon_generator(@usr.basics?)}"}
                      %td.has-text-centered
                        %a.tooltip{class: (@usr.basics_passed? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.basics_passed? ? 'Έχεις περάσει όλα τα ΒΕ' : "Πρέπει να περάσεις ακόμη #{4 - @usr.basics}") } }
                          %i.fa{class: "fa-#{icon_generator(@usr.basics_passed?)}"}
                      %tr
                        %td Γενικής
                        %td.has-text-centered
                          %a.tooltip{class: (@usr.generals? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.generals? ? 'Έχεις δηλώσει όλα τα ΓΕ' : "Πρέπει να δηλώσεις ακόμη #{3 - @usr.generals}") } }
                            %i.fa{class: "fa-#{icon_generator(@usr.generals?)}"}
                        %td.has-text-centered
                          %a.tooltip{class: (@usr.generals_passed? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.generals_passed? ? 'Έχεις περάσει όλα τα ΓΕ' : "Πρέπει να περάσεις ακόμη #{3 - @usr.basics}") } }
                            %i.fa{class: "fa-#{icon_generator(@usr.generals_passed?)}"}
                        %tr
                          %td Ειδικής
                          %td.has-text-centered
                            %a.tooltip{class: (@usr.specials? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.specials? ? 'Έχεις δηλώσεις όλα τα  EIE' : "Πρέπει να δηλώσεις ακόμη #{3 - @usr.specials}") } }
                              %i.fa{class: "fa-#{icon_generator(@usr.specials?)}"}
                          %td.has-text-centered
                            %a.tooltip{class: (@usr.specials_passed? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.specials_passed? ? 'Έχεις περάσει όλα τα EIE' : "Πρέπει να περάσεις ακόμη #{3 - @usr.specials_passed}") } }
                              %i.fa{class: "fa-#{icon_generator(@usr.specials_passed?)}"}
                        - if @usr.thesis?
                          %tr
                            %td Πτυχιακή
                            %td.has-text-centered
                              %a.tooltip{class: (@usr.thesis? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.thesis? ? 'Έχεις δηλώσει πτυχιακή' : "Πρέπει να δηλώσεις πτυχιακή ή 2 ακόμη ΓΕ ή ΕΙΕ") } }
                                %i.fa{class: "fa-#{icon_generator(@usr.thesis?)}"}
                            %td.has-text-centered
                              %a.tooltip{class: (@usr.thesis_passed? ? 'is-tooltip-success' : 'is-tooltip-danger'),data: { tooltip: (@usr.thesis_passed? ? 'Έχεις περάσει την πτυχιακή' : "Πρέπει να περάσεις πτυχιακή") } }
                                %i.fa{class: "fa-#{icon_generator(@usr.thesis_passed?)}"}
