<!DOCTYPE html>
<html>
  <head>
    <title>Grades</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $( function() {
      $( "#tabs" ).tabs();
      } );
    </script>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= image_tag 'logo.png', class: 'logo' %>
      </div>
      <div class="navbar-menu">
        <a class="navbar-item">
          Home
        </a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
