!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grades
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar{"aria-label" => "main navigation", role: "navigation"}
      .navbar-brand
        = image_tag 'logo.png', class: 'logo'
      .navbar-menu
        %a.navbar-item{href: "/lessons"}
          Home
        - if user_signed_in?
          = link_to "Sign out", destroy_user_session_path, class: 'navbar-item'
    %p.notice= notice
    = yield
