!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grades
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    =yield
    -if flash
      - flash.each do |key, val|
        %script
          - if key == 'info' || key == 'notice'
            new Noty({type: 'information', layout: 'topRight', text: '#{val}'}).show();
          - else
            new Noty({type: '#{key}', layout: 'topRight', text: '#{val}'}).show();
