!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grades
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.level{"aria-label" => "dropdown main navigation", role: "navigation"}
      %p.level-item.has-text-centered
        %a.link.is-info{href: root_path} Home
      %p.level-item.has-text-centered
        %a.link.is-info{href: '#'} About
      %p.level-item.has-text-centered
        %a.link.is-info{href: lessons_path} Lessons
      %p.level-item.has-text-centered
        =image_tag 'logo', style: "height: 30px;"
      %p.level-item.has-text-centered
        %a.link.is-info{href: lessons_add_path} Add
      %p.level-item.has-text-centered
        %a.link.is-info{href: lessons_delete_path} Remove
      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link.has-text-primary
          User
        .navbar-dropdown
          - if user_signed_in?
            = link_to 'Profile', edit_user_registration_path, class: 'navbar-item'
            = link_to "Sign out", destroy_user_session_path, class: 'navbar-item'
          - else
            = link_to "Log In", new_user_session_path,
           class: 'navbar-item'
            = link_to 'Sign Up', new_user_registration_path, class: 'navbar-item'
    %p.notice= notice
    .columns.is-12#all
      .column.is-2
        %aside.menu#nav
          %p.menu-label
            Lessons
          %ul.menu-list
            %li
              %a
                %i.fa.fa-file-text
                Summary
            %li
              %a
                %i.fa.fa-percent
                Stats
            %li
              %a
                %i.fa.fa-plus
                Add
            %li
              %a
                %i.fa.fa-minus
                Remove
          %p.menu-label
            Administration
          %ul.menu-list
            %li
              %a Team Settings
            %li
              %a Manage Your Team
              %ul
                %li
                  %a Members
                %li
                  %a Plugins
                %li
                  %a Add a member
      .column.is-10
        = yield
  %footer.footer
    .container
      .content.has-text-centered
        %p
          Το
          %strong GradesUp
          is built by
          %a{href: 'http://strdi.me'} dstrants
          using rails and bulma
